@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur quibusdam natus ut tempore explicabo, labore quaerat mollitia, a perferendis at consequuntur repellendus consequatur dolorem iusto nihil. Facilis officiis sint, culpa!</li>
    <li>Consequuntur ad voluptates commodi, omnis nulla quisquam quae asperiores? Est error expedita repellat quis, debitis placeat! Architecto inventore, explicabo, ipsum animi dolorem tempore provident, beatae illo eaque, molestiae odit ullam.</li>
    <li>Sint nesciunt cupiditate esse optio ratione id. Obcaecati mollitia numquam nobis, consequuntur perferendis culpa libero, ducimus officiis? Architecto deserunt, quia quas quasi dignissimos saepe voluptatum ad. Magnam odit rem facilis?</li>
    <li>Quasi provident, illum ad natus ut tempora quidem. Quia autem doloribus illum esse, pariatur alias exercitationem repellendus distinctio voluptatum sapiente aspernatur et nulla mollitia accusantium optio velit, ut, dolore explicabo!</li>
</ul>